.feed{
  flex:5;
  background-color: aliceblue;
}
.feedWrapper{
  padding: 20px;
}
.card{
  width: 250px;
  margin:10px;
  background-color: white;
  text-align: center;
  position: relative;
  
  

}
img{
  width: 200px;
  margin:10px;
  height: 80px;
}