.sidbar{
  flex:3;
  height: calc(150vh - 50px);
  
}
.sidebarWrapper{
  padding:20px;
  
}
.sidebarList{
  padding:10px;
  margin: 10px;
  list-style: none;
  
}
.sidebarListItem{
  display: Flex;
  align-items: center;
  margin-bottom: 20px;
}
